---
import Logo from '@ui/icons/Logo'
import ToggleTheme from '@ui/react/ToggleTheme'
---

<div
  class="py-4 sticky top-0 z-40 w-full backdrop-blur flex-none lg:z-50 border-b lg:border-zinc-900/10 dark:border-zinc-50/[0.06] bg-white/95 supports-backdrop-blur:bg-white/60 dark:bg-transparent"
>
  <div
    class="w-full max-w-6xl mx-auto px-4 flex items-center justify-between"
  >
    <a
      class="px-1 py-[7px] text-xl font-bold dark:text-zinc-200"
      aria-label="logo link"
      href="/"
    >
      <Logo />
    </a>

    <ToggleTheme client:idle />
  </div>
</div>
