@tailwind components;

@layer components {
  .article h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply relative [&>.anchor-link]:invisible [&>.anchor-link]:absolute [&>.anchor-link]:-left-8 [&>.anchor-link]:top-[50%]
    [&>.anchor-link]:translate-y-[-50%] [&>.anchor-link]:-rotate-45 [&>.anchor-link]:border-none [&>.anchor-link]:p-2
    [&:hover>.anchor-link]:visible;
  }

  .mark mark {
    @apply rounded-sm bg-rose-400 px-1 text-[#212121];
  }

  .form-input {
    @apply block w-full grow-[999] basis-64 appearance-none rounded-md border border-transparent
    bg-white py-2 pl-12 pr-3 leading-5 text-zinc-900 shadow-inner ring-1 ring-zinc-900/5
    placeholder:text-zinc-400 focus:border-rose-500 focus:outline-none focus:ring-4 focus:ring-rose-500/10
    dark:bg-zinc-700/20 dark:text-white dark:ring-zinc-200/20 dark:focus:ring-rose-500/10
    sm:text-sm;
  }

  .form-btn {
    @apply flex-auto rounded-md border-y border-transparent bg-rose-600 py-2 px-3 text-sm font-semibold text-white
    shadow hover:bg-rose-500 hover:shadow-none focus:outline-none focus:ring-2 focus:ring-rose-300 focus:ring-offset-2
    dark:bg-rose-500 dark:hover:bg-rose-400 dark:focus:ring-rose-700 dark:focus:ring-offset-zinc-900;
  }
}
