---
import Topbar from '@ui/astro/Topbar.astro'
import BaseHead from '@ui/astro/BaseHead.astro'
import SocialsList from '@ui/astro/SocialsList.astro'
import BackgroundPicture from '@ui/astro/BackgroundPicture.astro'

import { GLOBAL_CONFIG } from 'src/config'

import '../styles/global.css'

const { className = '' }: Record<'className', string> = Astro.props
---

<!DOCTYPE html>
<html class="" lang="en">
  <head>
    <BaseHead
      title={GLOBAL_CONFIG.siteTitle + ' - A blog by Sokolenko Slava'}
      description={GLOBAL_CONFIG.siteDescription}
      image={`/assets/images/homePreview.jpg`}
    />
  </head>
  <body class="dark:bg-zinc-900">
    <BackgroundPicture />
    <Topbar />
    <main
      class={className +
        ' content px-2 sm:px-4 md:px-8 pb-12 max-w-5xl mx-auto'}
    >
      <slot />
    </main>
    <footer class="pb-8">
      <div class="w-full max-w-5xl mx-auto px-2 sm:px-4">
        <SocialsList />
      </div>
    </footer>
  </body>
</html>
