---
import Topbar from '@ui/astro/Topbar.astro'
import BaseHead from '@ui/astro/BaseHead.astro'
import SocialsList from '@ui/astro/SocialsList.astro'
import BackgroundPicture from '@ui/astro/BackgroundPicture.astro'

import { GLOBAL_CONFIG } from 'src/config'

const { className = '' }: Record<string, string> = Astro.props
---

<!DOCTYPE html>
<html class="" lang="en">
  <head>
    <BaseHead
      title={GLOBAL_CONFIG.siteTitle}
      description={GLOBAL_CONFIG.siteDescription}
    />
  </head>
  <body class="min-h-screen flex flex-col dark:bg-zinc-900">
    <BackgroundPicture />
    <Topbar />
    <main class={className + ' content max-w-4xl mx-auto pb-12 px-2'}>
      <slot />
    </main>
  </body>
  <footer class="mt-auto pb-8">
    <div class="w-full max-w-[58rem] mx-auto px-2 sm:px-4">
      <SocialsList />
    </div>
  </footer>
</html>
